<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Anonymous Reviews Wanted!</h1>
  <nav>
    <a href="/">All Reviews</a>
    <a href="./reviews/mine">My Reviews</a>
    <a href="./reviews/add">Add Review</a>
  </nav>
		{{{body}}}
</body>
</html>
