{{error}}
<script>
		// run client side javascript to check form fields
</script>
<div class="centered">
<form method="POST" action="">
	Course name: <input type="text" name="courseName"></br>
  Course #: <input type="text" name="courseNumber"></br>
  <label for="semester">Semester: </label>
  <select id="semester" name="semester">
    <option value="fall">Fall</option>
    <option value="spring">Spring</option>
  </select></br>
  Year: <input type="number" name="year"></br>
  Professor: <input type="text" name="professor"></br>
  Review: <input type="text" name="review"></br>
	<input type="submit">
</form>
</div>
